html, body, h1, h2, h3, h4, p, ul, ol, li, figure{margin:0; padding:0;}
li{list-style:none;}
button{border:none; background:none; cursor:pointer;}
a{color:inherit; text-decoration:none;}
input{height:30px; line-height:30px; padding-left:10px; border:1px solid #e0e0e0; border-radius:5px;}
@keyframes topDown {
    0% {
        top : -45px;
    } 
    50% {
        top : -40px;
    }
    100% {
        top : -45px;
    }
}

.btn{
    display:block;
    width:100%;
    height:40px;
    line-height:40px;
    font-size:16px;
    border-radius:5px;
    background-color:#0095f6;
    color:#fff;
}

.close{
    position:absolute;
    top:10px;
    right:10px;
    width:50px;
    height:50px;
    border-radius: 50%;
    background:url('/images/close.svg') no-repeat 50% 50% / contain;
}

.custom_select_wrap {
    position:relative;
    .custom_select{
        display: block;
        width: 100%;
        height: 30px;
        padding-left:10px;
        position:relative;
        line-height: 30px;
        border:1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #fff;
        text-align:left;
        &:after{
            content:'';
            width:14px;
            height:14px;
            position:absolute;
            top:8px;
            right:10px;
            transform:rotate(90deg);
            background:url('/images/icon_arrow.png') no-repeat 50% 50% / contain;
        }
        &.active:after{
            transform:rotate(-90deg);
        }
    }
    ul{
        width:100%;
        overflow:hidden;
        position:absolute;
        top:35px;
        left:0;
        background-color:#fff;
        border:1px solid #8d8d8d;
        border-radius:5px;
        li{
            &:nth-child(n+2) {
                margin-top:5px;
            }
            button{
                width:100%;
                height:30px;
                padding-left:10px;
                line-height:30px;
                text-align:left;
                &:hover, :focus{
                    background-color:#ededed;
                }
            }
        }
    }
}

#app {
    main{
        padding-bottom:60px;
        position:relative; 
        background:#f5f5f5;
    }
    
    .box {
        width:800px;
        margin:0 auto;
    }
    @media screen and (max-width : 900px){
        .box {
            width:80%;
        }  
    }
    > header{
        width:100%;
        position:fixed;
        top:0;
        left:0;
        z-index:99;
        background-color:#fff;
        border-bottom:1px solid #ededed;
    }
    nav{
        display:flex;
        padding:10px 0;
        justify-content: space-between;
        .utils{
            display:flex;
            align-self: center;
            gap:10px;
            a{
                padding:0 10px;
                text-align:center;
                box-sizing:border-box;
            }
        }
    }
}

#login_wrap{
    min-height:calc(100vh - 60px);
    #login{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        h2{
            margin-bottom:20px;
            text-align:center;
        }
        label {
            display:inline-block; 
            width:80px;
        }
        li:nth-child(n+2){
            margin-top:10px;
        }
        button{margin-top:20px;}
    }
}
.list {
    header{
        padding-top:20px;
    }
    main {
        padding:20px 0 50px;
        .no_list{
            height:calc(100vh - 600px);
        }
        .no_list > div, > ul > li {
            overflow:hidden;
            border:1px solid #eaeaea; 
            border-radius:5px; 
            background-color:#fff;
            &:nth-child(n+2){
                margin-top:20px;
            }
            &.not_found{
                padding:40px 0;
            }
        }
        .image_thumbnail{
            position: relative;
            .week{
                width:50px;
                height:50px;
                line-height:50px;
                position:absolute;
                top:0;
                left:0;
                text-align:center;
                background-color:#000;
                color:#fff;
                border-radius:5px 5px 5px 0;
            }
        }
        .no_list{
            padding:50px 0;
            img{
                display:block;
                width:300px;
                margin:0 auto;
            }
            p{
                margin-top:50px;
                font-size:20px;
                text-align:center;

            }
        }
    }
}

.list_emotion{
    padding:10px 0;
    border-top:1px solid #eaeaea;
    .heart svg{
        width:28px;
        height:28px;
        margin-left:10px;
    }
    
    .uploadDate{
        height:28px;
        line-height:28px;
        margin-right:10px;
        float:right;
        font-weight:bold;
    }
}

#chart{
    padding:20px 0;
    .weekend_calendar {
        padding:10px 0;
        font-size:0;
        text-align:center;
        button{
            width:30px;
            height:30px;
            font-size:10px;
            vertical-align:top;
            background:url('/images/icon_arrow.png') no-repeat 50% 50% / contain;
            &.prev{
                transform:rotate(180deg);
            }
        }
        p{
            display:inline-block;
            height:30px;
            padding:0 20px;
            line-height:30px;
            font-size:20px;
            font-weight:bold;
            vertical-align:middle;
        }
    }
    ul {
        display: flex;
        margin:40px 0 20px;
        padding:10px;
        border-radius:5px;
        border:1px solid #eaeaea;
        background-color:#fff;
        li{
            position:relative;
            flex-grow: 1;
            padding:10px 0;
            text-align:center;
            transition:background-color 0.3s;
            &:first-child{
                border-radius:5px 0 0 5px;
            }
            &:nth-child(n+2){
                border-left:1px solid #eaeaea;
            }
            &:last-child{
                border-radius:0 5px 5px 0;
            }
            &.today:before{
                content:'TODAY';
                width:70px;
                height:20px;
                line-height:20px;
                position:absolute;
                top:-40px;
                left:50%;
                font-size:12px;
                border-radius:25px;
                background-color:#000;
                color:#fff;
                transform:translate(-50%, 0);
                animation: topDown 3s infinite;
            }
            span{
                display:block;
                font-size:12px;
                &.month{
                    display:inline-block;
                    width:30px;
                    height:30px;
                    margin:10px 0;
                    line-height:30px;
                    border-radius:50%;
                    box-sizing:border-box;
                    background-color:#000;
                    color:#fff;
                }
            }
            &.correct{
                background-color:#74e30b;
            }
            &.error{
                background-color:#e33c0b;
                .desc{
                    text-decoration:line-through
                }
            }
        }
    }
}

.comment {
    ul{
        padding:0 10px 0 10px; 
        border-top:1px solid #eaeaea;
        li{
            font-size:0;
            overflow:hidden;
            padding:10px 0;
            line-height:30px;
            .user, .desc, .date{
                display:inline-block;
                font-size:14px;
                vertical-align:top;
            }
            .user{
                width:40px; 
                margin-right:10px;
                padding:0 10px; 
                border-radius:8px 0 0 8px; 
                font-size:12px;
                background-color:#0095f6;
                color:#fff;
            }
            .desc{
                width:calc(100% - 136px);
            }
            .date{
                width:66px;
                font-size:12px;
            }
            &:nth-child(n+2) {
                border-top:1px solid #efefef;
            }
        }
    }
}

.replyComment{
    border-top:1px solid #efefef;
    input{
        width:calc(100% - 50px);
        height:40px;
        border-radius:0 0 0 5px;
        vertical-align:top;
        box-sizing: border-box;
        border:0;
    }
    button{
        display:inline-block;
        width:50px;
        height:40px;
        border-radius:0 0 5px 0;
        line-height:30px;
        font-size:12px;
    }
    > li{
        position:relative;
        .tagList{
            position:absolute;
            bottom:48px;
            left:0;
            width:100px;
            padding:10px;
            border-radius:10px;
            border:1px solid #efefef;
            background-color:#fff;
            li{
                padding:5px 0;
                &:nth-child(n+2){border-top:1px solid #efefef;}
                button{
                    width:100%;
                }
            }
        }
    }
}


.viewport_wrap{
    position:relative;
    .slide_viewport{
        position:relative;
        padding-top:56.5%;
        .slides_wrap{
            width:100%;
            position:absolute;
            top:0;
            left:0;
            .slides {
                position:relative;
                height:0;
                padding-top:56.5%;
                transition:all 0.3s;
                li {
                    width:100%;
                    padding-top:56.5%;
                    position:absolute;
                    top:0;
                    img{
                        height:100%;
                        position:absolute;
                        top:0;
                        left:50%;
                        transform:translate(-50%, 0);
                    }
                }
            }
        }
        .slide_btns{
            button{
                width:40px;
                height:40px;
                position:absolute;
                top:50%;
                background:url('/images/icon_circle_arrow.svg') no-repeat 50% 50% / contain;
                opacity:0.5;
                &.prev {
                    left:10px;
                    transform:rotate(180deg);
                }
                &.next {
                    right:10px;
                }
            }
        }
        .slide_number{
            width:50px;
            padding:10px;
            position:absolute;
            left:50%;
            bottom:10px;
            text-align:center;
            transform:translate(-50%, 0);
            background-color:rgba(0, 0, 0, 0.8);
            border-radius:25px;
            color:#fff;
        }
    }
    .zoomBtn{
        width:40px;
        height:40px;
        overflow:hidden;
        position:absolute;
        bottom:10px;
        right:10px;
        background:url('/images/zoom_in.png') no-repeat 50% 50% / contain;
    }
    .zoomImgBox{
        width:100vw;
        height:100vh;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        background:rgba(0, 0, 0, 0.8);
        z-index:10;
        div {
            width:800px;
            height:800px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            overflow:hidden;
            border-radius:10px;
            img{
                position:absolute;
                height:100%;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
            }
        }
        @media screen and (max-width : 900px){
            div {
                width:80%;
                overflow:overlay;
            }  
        }
    }
}

#join{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    h2{
        margin-bottom:20px;
        text-align:center;
    }
    > ul {
        margin-bottom:10px;
        > li{
            label {
                display:inline-block; 
                width:80px;
                vertical-align:top;
                padding-top:5px;
            }
            &:nth-child(n+2){
                margin-top:10px;
            }
            #repeatPw{
                transition:border-color 0.3s;
                &.error{
                    border:1px solid #e33c0b
                }
            }
            .custom_select_wrap{
                display:inline-block;
                width:calc(100% - 80px);
            }
            .password_wrap{
                position:relative;
                display:inline-block;
                input{
                    display:block;
                    &:last-child{margin-top:10px;}
                }
                .tooltip{
                    visibility:hidden;
                    width:100%;
                    padding:10px;
                    position:absolute;
                    top:0;
                    left:calc(100% + 10px);
                    z-index:2;
                    border:1px solid #efefef;
                    border-radius: 10px;
                    box-sizing:border-box;
                    background-color:#fff;
                    opacity: 0;
                    transition:all 0.3s;
                    &.active{
                        visibility:visible;
                        opacity: 1;
                    }
                    .pwCondition{
                        li {
                            line-height:20px;
                            font-size:12px;
                            &:nth-child(n+2){
                                margin-top:10px;
                            }
                            &:before{
                                content:'';
                                display:inline-block;
                                width:20px;
                                height:20px;
                                margin-right:5px;
                                vertical-align:middle;
                                border-radius:50%;
                                background-color:#e33c0b;
                                transition:background-color 0.3s;
                            }
                            &.active:before{
                                background-color:#74e30b;
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    width:100%;
    height:40px;
    padding:10px 0;
    position:fixed;
    bottom:0;
    left:0;
    background-color:#fff;
    border-top:1px solid #e0e0e0;
    .btn{
        width:100px;
        margin:0 auto;
    }
    .dim{
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background-color:rgba(0, 0, 0, 0.8);
        .dropzone_wrap{
            width:500px;
            height:500px;
            position:absolute;
            top: 50%;
            left:50%;
            transform:translate(-50%, -50%);
            border-radius:10px;
            background-color:#fff;
            .upload{
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
            }
        }
        .dropzone-custom-title {
            width:100%;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            margin-top: 0;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
opacity: 0;
}